/* Shared
---------------------------*/
body {
    font-family: 'Roboto', sans-serif;
}
a { color: inherit; } 
.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 48px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.btn-outline {
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 2px #fff;
    font-size: 27px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #2c3e50;
    background: #fff;
}

/* Sections
---------------------------*/
.section {
    padding: 3rem 0 5rem;
    text-align: center;
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

/* Landing
---------------------------*/
.landing {
    background-color: #2c3e50;
    color: #fff;
}
.landing-heading {   
}
.landing-description {
    margin-bottom: 4rem;
}
.landing-profile {
    float: right;
    width: 20%;
}

/* Work
 * Projects
---------------------------*/
.work {
    background-color: #18477F;
    color: #fff;
}
.projects {
    background-color: #fff;
}
.project {
    padding: 2rem;
    border-radius: 6px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.work .project:hover,
.project:focus,
.project:active,
.project.active {
    color: orange;
}
.projects .project:hover,
.project:focus,
.project:active,
.project.active {
    color: lightgray;
}
.project-img {
    float: left;
    width: 25%;
    margin-top: 10px;
    margin-left: 10px;
}
.project-heading {
    margin-bottom: 0.3rem;
    font-size: 20pt;
    margin-top: 20px;
}
.project-description {
    opacity: 0.8;
    font-weight: 300;
    font-size: 1.5rem;
}
.project-languages {
    
}
.xamarin {
}
.rit {
}
.idtc {
}
.topeka {
}
.starmen {
}
.packed {
}

/* Edu
---------------------------*/
.edu {
    background-color: #2C81E5;
    color: #fff;
}
.edu-heading {
    margin-bottom: 0.3rem;
}
.edu-description {
    opacity: 0.8;
    font-weight: 300;
}


/* Legal
---------------------------*/
.legal {
    background-color: #2c3e50;
    color: #fff;
    padding: 3rem 0;
    text-align: center;
}

/* Bigger than 550 */
@media (min-width: 550px) {
    .section {
        padding: 12rem 0 11rem;
    }
    .landing {
        padding-bottom: 12rem;
        text-align: left;
        height: 165px;
    }
    .landing-description {
        font-size: 2.4rem;
        font-style: italic;
    }
    .project-img {
        width: 50%;
        margin-top: 10px;
        margin-left: 10px;
    }
}

/* Bigger than 750 */
@media (min-width: 750px) {
    .landing {
        height: 190px;
    }
    .landing-heading {
        font-size: 2.6rem;
    }
    .section {
        padding: 14rem 0 15rem;
    }
    .landing {
        padding: 16rem 0 14rem;
    }
    .section-description {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
    .section {
        padding: 20rem 0 19rem;
    }
    .landing {
        padding: 22rem 0;
    }
    .landing-description {
        margin-bottom: 10rem;
    }
}