/* Shared
---------------------------*/
body {
    font-family: 'Roboto', sans-serif;
}
a { 
    color: inherit; 
    text-decoration: none;
}
.btn-social {
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 48px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.btn-outline {
    margin: 0 auto;
    font-size: 32px;
    color: #fff;
    background: 0 0;
    transition: all .2s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #2c3e50;
    background: #fff;
}

/* Sections
---------------------------*/
.section {
    padding: 3rem 0 5rem;
    text-align: center;
    position: relative;
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}
.section-link {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    margin: 10px;
}
.section-link a {
    color: #2c3e50;
    transition: all .2s ease-in-out;    
}
.section-link a:hover,a:focus,a:active,a.active {
    color: #ddd;
}

/* Landing
---------------------------*/
.landing {
    padding: 5rem 0 3rem;
    background-color: #0D3D70;
    color: #fff;
}
.landing-heading {
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.landing-description {
    margin-bottom: 4rem;
    font-style: italic;
}
.landing-profile {
    float: right;
    width: 20%;
    margin-top: -1em;
}
.social {
    list-style: none;
}
.social li {
    display: inline-block;
    margin: 20px 2% 0 2%;
}
/* Work
* Projects
---------------------------*/
.work {
    background-color: #3d638c;
    color: #fff;
}
.projects {
    background-color: #e6ebf0;
}
.project {
    border-radius: 6px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
}
.work .project:hover {
    color: #ddd;
    background-color: rgba(255, 255, 255, 0.2);
}
.projects .project:hover {
    color: #222;
    background-color: rgba(0, 0, 0, 0.2);
}
.project-img {
    width: 25%;
    margin: 10px;
    display: block;
    float: left;
}
.project-heading {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 400;
}
.project-info {
    opacity: 0.8;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.project-description {
    opacity: 0.8;
    font-size: 1.25rem;
    margin-bottom: 5px;
    width: 65%;
    margin-right: 10px;
    float: right;
    font-style: italic;
}
.project-languages {
    opacity: 0.8;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
/*
.xamarin {
}
.rit {
}
.idtc {
}
.topeka {
}
.starmen {
}
.packed {
}
*/

/* Certification
--------------------------*/
.cert {
    background-color: #b6c4d4;
}
.cert .project:hover {
    color: #222;
    background-color: rgba(255, 255, 255, 0.2);
}
.cert img {
    width: 50%;
}
/* Edu
---------------------------*/
.edu {
    background-color: #3d638c;
    color: #fff;
}


/* Legal
---------------------------*/
.legal {
    background-color: #0a3059;
    color: #fff;
    padding: 3rem 0;
    text-align: center;
}
.brand-img {
    width: 25%;
}

/* Media Queries
-------------------------*/
/* Bigger than 550 */
@media (min-width: 550px) {
    .section {
        padding: 10rem 0 10rem;
    }
    .landing {
        padding-bottom: 12rem;
        text-align: left;
        height: 165px;
    }
    .landing-description {
        font-size: 2.4rem;
        font-style: italic;
    }
    .project-img {
        width: 100px;
        float: none;
        margin: 10px auto;
    }
    .project-heading {

    }
    .project-description {
        float: none;
        width: auto;
    }
    .resumes {
        position: absolute;
        top: 0;
    }
    .resumes a {
        margin-left: 10px;
    }
    .brand-img {
        width: 15%;
    }
}

/* Bigger than 750 */
@media (min-width: 750px) {
    .btn-social {
        width: 50px;
        height: 50px;
        font-size: 28px;
        line-height: 48px;
    }
    .section {
        padding: 5rem 0 5rem;
    }
    .landing {
        padding: 5em 0 10rem;
        height: 190px;
    }
    .section-description {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .project-img {
        width: 130px;
    }
    .brand-img {
        width: 10%;
    }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
    .landing {
        padding: 12rem 0 17rem;
    }
    .landing-description {
        margin-bottom: 10rem;
    }
    .project-heading {
        font-size: 2.5rem;
    }
    .project-description {
        font-size: 1.45rem;
    }
}
