<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.assets.img.site }}apple-touch-icon.png?v=almlgqoLRL">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{site.assets.img.site}}favicon-32x32.png?v=almlgqoLRL">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{site.assets.img.site}}favicon-16x16.png?v=almlgqoLRL">
<link rel="manifest" href="{{ site.url }}/manifest.json?v=almlgqoLRL">
<link rel="mask-icon" href="{{ site.url }}{{site.assets.img.site}}safari-pinned-tab.svg?v=almlgqoLRL" color="#3d638c">
<link rel="shortcut icon" href="{{ site.url }}{{site.assets.img.site}}favicon.ico?v=almlgqoLRL">
<meta name="msapplication-config" content="{{ site.url }}/browserconfig.xml?v=almlgqoLRL">
<meta name="theme-color" content="#0d3d70">