---
layout: portfolio
title: Portfolio
---

<!--<header style="background-color:yellow;font-size:20px;"><i class="icon-warning" style="margin:20px;"></i>This page is under construction!</header>-->
<div class="section section_landing">
    <div class="container">
        <img src="assets/img/face.png" class="section_landing_profile">
        <h1 class="section_landing_heading">Aaron Sky</h1>
        <h4 class="section_landing_description">App & Web Developer - Gameplay Programmer - Wizard</h4>
        <div class="social">
            <div class="social_item">
                <a href="https://www.facebook.com/METC500/" title="My Facebook!" class="button_social button-outline"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="social_item">
                <a href="https://twitter.com/theaaronsky" title="My Twitter!" class="button_social button-outline"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="social_item">
                <a href="http://www.linkedin.com/pub/aaron-sky/81/930/605/" title="My LinkedIn!" class="button_social button-outline"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="social_item">
                <a href="https://github.com/aaronsky" title="My GitHub!" class="button_social button-outline"><i class="fa fa-github"></i></a>
            </div>
            <div class="social_item">
                <a href="docs/resume.pdf" title="My Resume!" class="button_social button-outline"><i class="fa fa-file-text-o"></i></a>
            </div>
            <div class="social_item">
                <a href="http://blog.skyaaron.com" title="Blog" class="button_social button-outline"><i class="fa fa-rss"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="section section_work">
    <div class="section_link">
        <a name="work"></a>
        <a href="#work"><i class="fa fa-link"></i></a>
    </div>
    <h2 class="section_heading">Experience</h2>
    <div class="container">
        {% for work_hash in site.data.portfolio.work %}
        {% assign work = work_hash[1] %}
        <a href="{{ work.link }}">
            <div class="project project-lighten">
                <img class="project_img" src="{{ work.img }}">
                <h2 class="project_heading">{{ work.title }}</h2>
                <h3 class="project_info">{{ work.start }} to {% if work.end %}{{ work.end }}{% else %}Present{% endif %}
                    <p class="project_languages">{{ work.languages | join:' - ' }}</p></h3>
                <p class="project_description">{{ work.description }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<div class="section section_projects">
    <div class="section_link">
        <a name="projects"></a>
        <a href="#projects"><i class="fa fa-link"></i></a>
    </div>
    <h2 class="section_heading">Projects</h2>
    <div class="container">
        {% for project_hash in site.data.portfolio.projects %}
        {% assign project = project_hash[1] %}
        <a href="{{ project.link }}">
            <div class="project project-darken">
                <img class="project_img" src="{{ project.img }}">
                <h2 class="project_heading">{{ project.title }}</h2>
                <h3 class="project_info">{{ project.start }}{% if project.end %} to {{ project.end }}{% endif %}
                    <p class="project_languages">{{ project.languages | join:', ' }}</p></h3>
                <p class="project_description">{{ project.type }}</p>
                <p class="project_description">{{ project.roles | join ', '}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<div class="section section_cert">
    <div class="section_link">
        <a name="certification"></a>
        <a href="#certification"><i class="fa fa-link"></i></a>
    </div>
    <h3 class="section_heading">Certification</h3>
    <div class="container">
        {% for cert_hash in site.data.portfolio.certification %}
        {% assign cert = cert_hash[1] %}
        <a href="{{ cert.link }}">
            <div class="project project_cert project-darken">
                <img class="project_img" src="{{ cert.img }}">
                <h2 class="project_heading">{{ cert.title }}</h2>
                <p class="project_info">{{ cert.description }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<div class="section section_edu">
    <div class="section_link">
        <a name="education"></a>
        <a href="#education"><i class="fa fa-link"></i></a>
    </div>
    <div class="container">
        <h3 class="section_heading">Education</h3>
        <p class="section_description">{{ site.data.education.school }}</p>
        <p class="section_description">{{ site.data.education.degree }}</p>
        <p class="section_description">{{ site.data.education.date }}</p>
    </div>
</div>
