---
layout: portfolio
title: Portfolio
---

<!--<header style="background-color:yellow;font-size:20px;"><i class="icon-warning" style="margin:20px;"></i>This page is under construction!</header>-->
<header class="section section_landing" id="masthead">
    <div class="container">
        <img src="{{site.baseurl}}{{site.assets.img.site}}face.png" class="section_landing_profile" alt="Aaron Sky face photo">
        <h1 class="section_landing_heading">Aaron Sky</h1>
        <h4 class="section_landing_description"><span>App &amp; Web Developer :iphone:</span> <span>Gameplay Programmer :video_game:</span> <span>Wizard :sparkles:</span> </h4>
        {% include social.html %}
    </div>
</header>
<section class="section section_work">
    <div class="section_link">
        <a name="work"></a>
        <a href="#work"><i class="fa fa-link"></i></a>
    </div>
    <h2 class="section_heading">Experience</h2>
    <div class="container">
        {% assign work_buffer = "" | split: "" %}
        {% for work_kvp in site.data.portfolio.work %}
            {% assign work_buffer = work_buffer | push: work_kvp[1] %}
        {% endfor %}
        {% assign works = (work_buffer | sort: 'id') %}
        {% for work in works %}
        {% if work %}
        <div class="project_cell">
            <a href="{{ work.link }}">
                <div class="project project-lighten">
                    <aside>
                        <img class="project_img" src="{{site.baseurl}}{{site.assets.img.portfolio}}{{ work.img }}" alt="{{work.employer}} logo">
                    </aside>
                    <div>
                        <h2 class="project_heading">{{ work.title }}</h2>
                        <h3 class="project_info">{{ work.start }} to {% if work.end %}{{ work.end }}{% else %}Present{% endif %}</h3>
                        <p class="project_languages">{{ work.languages | join:' - ' }}</p>
                        <p class="project_description">{{ work.description }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<section class="section section_projects">
    <div class="section_link">
        <a name="projects"></a>
        <a href="#projects"><i class="fa fa-link"></i></a>
    </div>
    <h2 class="section_heading">Projects</h2>
    <div class="container">
        {% assign project_buffer = "" | split: "" %}
        {% for project_kvp in site.data.portfolio.projects %}
            {% assign project_buffer = project_buffer | push: project_kvp[1] %}
        {% endfor %}
        {% assign projects = (project_buffer | sort: 'id') %}
        {% for project in projects %}
        {% if project %}
        <div class="project_cell">
            <a href="{{ project.link }}">
                <div class="project project-darken">
                    <aside>
                        <img class="project_img" src="{{site.baseurl}}{{site.assets.img.portfolio}}{{ project.img }}" alt="{{project.title}} logo">
                    </aside>
                    <div>
                        <h2 class="project_heading">{{ project.title }}</h2>
                        <h3 class="project_info">{{ project.start }}{% if project.end %} to {{ project.end }}{% endif %}</h3>
                        <p class="project_languages">{{ project.languages | join:', ' }}</p>
                        <p class="project_description">{{ project.type }}</p>
                        <p class="project_description">{{ project.roles | join:', '}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<section class="section section_cert">
    <div class="section_link">
        <a name="certification"></a>
        <a href="#certification"><i class="fa fa-link"></i></a>
    </div>
    <h3 class="section_heading">Certification</h3>
    <div class="container">
        {% assign cert_buffer = "" | split: "" %}
        {% for cert_kvp in site.data.portfolio.certification %}
            {% assign cert_buffer = cert_buffer | push: cert_kvp[1] %}
        {% endfor %}
        {% assign certs = (cert_buffer | sort: 'id') %}
        {% for cert in certs %}
        {% if cert %}
        <div class="project_cell-cert">
            <a href="{{site.baseurl}}{{site.assets.docs}}{{ cert.link }}">
                <div class="project project_cert project-darken">
                    <aside>
                        <img class="project_img" src="{{site.baseurl}}{{site.assets.img.portfolio}}{{ cert.img }}" alt="{{cert.title}} logo">
                    </aside>
                    <div>
                        <h2 class="project_heading">{{ cert.title }}</h2>
                        <p class="project_info">{{ cert.description }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<section class="section section_edu">
    <div class="section_link">
        <a name="education"></a>
        <a href="#education"><i class="fa fa-link"></i></a>
    </div>
    <div class="container">
        <h3 class="section_heading">Education</h3>
        <p class="section_description">{{ site.data.portfolio.education.school }}</p>
        <p class="section_description">{{ site.data.portfolio.education.degree }}</p>
        <p class="section_description">{{ site.data.portfolio.education.date }}</p>
    </div>
</section>
