$darkest-blue: #0a3059;
$darker-blue: #0d3d70;
$dark-blue: #3d638c;
$lightest-blue: #e6ebf0;
$light-blue: #b6c4d4;
$blue: #2c3e50;
$white: #fff;
$light-gray: #ddd;
$dark-gray: #222;
$black: #000;

$font-body: 'Roboto', sans-serif;
$font-icons: 'FontAwesome', sans-serif;