.container .project_cell {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
}

.container .project_cell:last-child {
    margin-right: 0
}

.container .projectCellCert {}

.project {
    padding: 1rem;
    min-height: 7rem;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in-out;
    composes: fadeInDownLongDelay from "../../../css/animations.css";
}

.projectContent {
    width: 70%;
    float: right;
}

.projectLighten:hover {
    color: #dddddd/*var(--light-gray)*/
    ;
    background-color: rgba(255, 255, 255, 0.2);
}

.projectDarken:hover {
    color: #222222/*var(--dark-gray)*/
    ;
    background-color: rgba(0, 0, 0, 0.2);
}

.projectImg {
    margin: 0;
    width: 80px;
}

.projectImgContainer {
    width: 30%;
    float: left;
}

.projectHeading {
    font-size: 18;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.projectInfo {
    opacity: 0.8;
    font-weight: 300;
}

.projectInfoTitle {
    font-size: 16;
    margin-bottom: 0.5rem;
}

.projectInfoDates {
    font-size: 14;
    margin-bottom: 5px;
}

.projectInfoDescription {
    visibility: hidden;
    clear: both;
    display: none;
    font-size: 13;
    margin: 0 10px 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-style: italic;
}

.projectInfoLanguages {
    font-size: 14;
    margin: 0;
    margin-bottom: 5px;
}

@media only screen and (min-width: 550px/*var(--phablet-size)*/) {
    .container .project_cell {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%
    }
    .container .project_cell:last-child {
        margin-right: 0
    }
    .container .project_cell:nth-child(2n) {
        margin-right: 0
    }
    .container .project_cell:nth-child(2n+1) {
        clear: left
    }
    .container .project_cell-cert {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%
    }
    .container .project_cell-cert:last-child {
        margin-right: 0
    }
    .project {
        min-height: 0;
    }
    .projectContent {
        width: auto;
        float: none;
    }
    .projectCert img {
        width: 50%;
    }
    .projectImg {
        width: 100px;
        margin: 10px auto;
    }
    .projectImgContainer {
        float: none;
        width: auto;
    }
    .projectInfoDescription {
        width: auto;
        visibility: visible;
        clear: none;
        display: inherit;
    }
}

@media only screen and (min-width: 750px/*var(--tablet-size)*/) {
    .projectImg {
        width: 130px;
    }
}

@media only screen and (min-width: 1000px/*var(--desktop-size)*/) {
    .container .project_cell {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%
    }
    .container .project_cell:nth-child(2n) {
        margin-right: 2.35765%
    }
    .container .project_cell:nth-child(2n+1) {
        clear: none
    }
    .container .project_cell:last-child {
        margin-right: 0
    }
    .container .project_cell:nth-child(3n) {
        margin-right: 0
    }
    .container .project_cell:nth-child(3n+1) {
        clear: left
    }
    .container .project_cell-cert {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-left: 25.58941%
    }
    .container .project_cell-cert:last-child {
        margin-right: 0
    }
    .projectHeading {
        font-size: 20;
        margin-bottom: 0.5rem;
    }
    .projectInfoDescription {
        font-size: 13.8;
        margin-bottom: 5px;
    }
}