{% include navigation/browser-upgrade.html %} 
{% if page.image.feature %}
<header class="masthead" id="masthead">
    {% if site.logo != null %}
    <div class="wrap">
        <a href="{{ site.baseurl }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.baseurl }}{{site.assets.img.site}}{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
    </div>
    {% endif %}
</header>
<!-- /.masthead -->
{% else %}
<header class="masthead" id="masthead">
    <div class="wrap">
        {% if site.logo != null %}
        <a href="{{ site.baseurl }}/blog/" class="site-logo" rel="home" title="{{ site.title }}">
            <img src="{{ site.baseurl }}{{site.assets.img.site}}{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown">
        </a>
        {% endif %}
        <h1 class="site-title animated fadeIn"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>
    </div>
</header>
<!-- /.masthead -->
{% endif %}