<header id="nav" class="nav">
    <a href="{{ site.url }}">
        <img class="nav_logo" src="{{ site.url }}{{ site.assets.img.site }}brand.svg" alt="Site logo" />
    </a>
    <a href="#" id="nav-toggle" class="nav-toggle" aria-hidden="false">
        <div></div>
        <div></div>
        <div></div>
    </a>
    <nav class="nav-collapse">
        <ul class="nav-collapse_list">
            <li class="nav-collapse_item"><a href="{{ site.url }}#work">Work</a></li>
            <li class="nav-collapse_item"><a href="{{ site.url }}#projects">Projects</a></li>
            <li class="nav-collapse_item"><a href="{{ site.url }}#certification">Certification</a></li>
            <li class="nav-collapse_item"><a href="{{ site.url }}#education">Education</a></li>
            <li class="nav-collapse_item-divider"></li>
            <li class="nav-collapse_item"><a href="{{ site.url }}/blog/">Blog</a></li>
            <li class="nav-collapse_item"><a href="{{ site.url }}{{ site.assets.docs }}resume.pdf">Resume</a></li>
            <li class="nav-collapse_item">
                <a href="https://twitter.com/{{ site.owner.twitter }}" title="Find me on Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="nav-collapse_item">
                <a href="https://github.com/{{ site.owner.github }}" title="Find me on GitHub">
                    <i class="fa fa-github"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>
