<!--Preliminary-->
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt | strip_html }}"> 
{% else %}
<meta name="description" content="The latest of Aaron Sky"> 
{% endif %}
<meta name="author" content="Aaron Sky">
<link rel="author" href="{{ site.url }}humans.txt" /> 
{% include open-graph.html %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.baseurl }}{{ site.assets.css }}main.css">
<!-- Webfonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,300,700' rel='stylesheet' type='text/css'>
<meta http-equiv="cleartype" content="on">
<!-- Icons -->
<link rel="icon" type="image/svg" href="{{ site.baseurl }}{{site.assets.img.site}}favicon.svg" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}{{site.assets.img.site}}favicon.png" />
<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}{{site.assets.img.site}}apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}{{site.assets.img.site}}apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}{{site.assets.img.site}}apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}{{site.assets.img.site}}apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon" href="{{ site.baseurl }}{{site.assets.img.site}}favicon.png">
