<nav class="nav" id="nav">
    <div class="nav_logo">
        <a href="{{ site.baseurl }}">
            <img class="nav_logo_img" src="{{ site.baseurl }}{{ site.assets.img.site }}brand.svg" alt="Site logo" />
        </a>
    </div>
    <button class="nav_hamburger" id="nav_hamburger">
        <span>Toggle</span>
    </button>
    <div class="nav_links">
        <ul class="nav_links_list">
            <li class="nav_links_item"><a href="{{ site.baseurl }}#work">Work</a></li>
            <li class="nav_links_item"><a href="{{ site.baseurl }}#projects">Projects</a></li>
            <li class="nav_links_item"><a href="{{ site.baseurl }}#certification">Certification</a></li>
            <li class="nav_links_item"><a href="{{ site.baseurl }}#education">Education</a></li>
            <li class="nav_links_item-divider"></li>
            <ul class="nav_links_list">
                <li class="nav_links_item"><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                <li class="nav_links_item"><a href="{{ site.baseurl }}{{ site.assets.docs }}resume.pdf">CV</a></li>
            </ul>
        </ul>
    </div>
</nav>
