<!--Facebook metadata-->
<meta property="og:url" content="{{ site.url }}/">
<meta property="og:type" content="profile">
<meta property="og:title" content="Aaron Sky">
<meta property="og:description" content="The latest of Aaron Sky">
<meta property="og:image" content="{{ site.url }}{{site.assets.img.site}}face_square.png">
<!--Twitter metadata-->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@theaaronsky">
<meta name="twitter:title" content="Aaron Sky">
<meta name="twitter:description" content="The latest of Aaron Sky">
<meta name="twitter:image" content="{{ site.url }}{{site.assets.img.site}}face_square.png">