.container {
  @include outer-container;
  .project {
    @include span-columns(1 of 1);
    @include media($phablet) {
      //@include omega-reset(2n); // Reset previous @include omega()
      @include span-columns(4 of 12);
      @include shift(2);
      min-height: 350px;
      //@include omega(3n);
    }
    @include media($desktop) {
      //@include omega-reset(3n); // Reset previous @include omega()
      @include span-columns(3 of 12);
      @include shift(1);
      //@include omega(4n);
    }
    &_cert {
      @include media($phablet) {
        @include span-columns(6 of 12);
        @include shift(3);
      }
      @include media($desktop) {
        @include span-columns(6 of 12);
        @include shift(3);
      }
    }
  }
}

.project {
  border-radius: 6px;
  opacity: 0;
  transition: all .3s ease-in-out;
  @include animation--fallIn(0.8);
  cursor: pointer;
  margin-bottom: 10px;
  //work
  &-lighten {
    &:hover {
      color: $light-gray;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  //projects, cert
  &-darken {
    &:hover {
      color: $dark-gray;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  &_img {
    width: 25%;
    margin: 10px;
    display: block;
    float: left;
    @include media($phablet) {
      width: 100px;
      float: none;
      margin: 10px auto;
    }
    @include media($tablet) {
      width: 130px;
    }
  }
  &_heading {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 400;
    @include media($desktop) {
      font-size: 2.5rem;
    }
  }
  &_info {
    opacity: 0.8;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  &_description {
    opacity: 0.8;
    font-size: 1.25rem;
    margin-bottom: 5px;
    width: 65%;
    margin-right: 10px;
    float: right;
    font-style: italic;
    @include media($phablet) {
      float: none;
      width: auto;
    }
    @include media($desktop) {
      font-size: 1.45rem;
    }
  }
  &_languages {
    opacity: 0.8;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
}
