@import url('../../css/colors.css');

html {
    background-color: var(--white);
}

/*
   Resume page
   ========================================================================== */

.resume {
    background-color: var(--white);
    line-height: 1.3;
}

.resumeHeaderHeading {
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 2pt;
}

.resumeHeaderSubheading {
    font-style: italic;
    font-size: 10pt;
    color: var(--pale-gray);
    margin-bottom: 4pt;
}

.resumeHeaderSubheading > a {
    color: var(--link-color);
    font-style: italic;
    font-size: 10pt;
}

.resumeSectionHeading {
    font-weight: bold;
    font-size: 12pt;
    color: var(--darker-blue);
    clear: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.resumeProjectHeading {
    margin-top: 3pt;
    margin-bottom: 2pt;
}

h2.resumeProjectHeading {
    font-weight: bold;
    font-size: 10pt;
    color: var(--darker-blue);
}

h3.resumeProjectHeading {
    font-weight: bold;
    font-size: 8pt;
    color: var(--dark-blue);
}

.resumeProjectDescription {
    margin: 0;
    padding: 0;
    margin-bottom: 2pt;
    color: var(--black);
    font-size: 8pt;
    text-align: justify;
    text-justify: inter-word;
}

.resumeSkillsHeading {
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 10pt;
    margin-top: 3pt;
    margin-bottom: 2pt;
}

.resumeSkillItem {
    padding-right: 0.5rem;
}

.resumeSkillItem ~ .resumeSkillItem {
    padding-left: 0.5rem;
    border-left: 2pt solid var(--fun-blue);
}

.resumeFooter {
    margin-top: 4rem;
}

.resumeFooterLogo {
    position: fixed;
    top: 0;
    right: 0;
    width: 7%;
    background-color: var(--white);
    padding: 0 1%;
}
