.header {
  margin: 1em auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  @include themed(color, heading);
  border-bottom: 1px solid;

  @media screen and (min-width: $breakpoint-medium) {
    flex-direction: row;
    align-items: flex-end;
  }

  &_logo {
    position: absolute;
    margin: 0 auto;
    left: 1em;
    top: 1em;
    height: 40px;

    animation-fill-mode: both;
    animation-duration: 1s;
    transform: rotateZ(0deg);
    transition: transform 0.4s;

    &:hover {
      transform: rotateZ(10deg);
      transition: transform 0.4s;
    }

    &:active {
      transform: rotateZ(-10deg);
      transition: transform 0.25s;
    }
  }

  &_author {
    margin: 0 auto;
    font-size: $heading-font-size;
    font-weight: 700;
  }

  &_caption {
    font-size: $caption-font-size;
    font-weight: 400;
    margin-bottom: 0;
  }

  &_nav {
    padding: 0.5em;

    &_item {
      box-sizing: border-box;
      @include themed(color, nav-item);
      padding: 0.5em;
    }
  }
}

a {
  &.header_nav_item {
    box-shadow: 0 0 0 0 transparent;
  }

  &:hover.header_nav_item {
    @include themed(color, link-hover);
    box-shadow: 0 4px 0 0;
  }
}

.icon {
  &s {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  svg {
    stroke: currentColor;
    fill: currentColor;
    stroke-width: 0;
  }

  &_email svg {
    width: 1.5em;
    height: 1.5em;
  }

  &_github svg {
    width: 1.5em;
    height: 1.5em;
  }

  &_linkedin svg {
    width: 1.5em;
    height: 1.5em;
  }
}
