.site_functions {
  .go_home_link {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    height: 40px;

    animation-fill-mode: both;
    animation-duration: 1s;
    transform: rotateZ(0deg);
    transition: transform 0.4s;

    &:hover {
      transform: rotateZ(10deg);
      transition: transform 0.4s;
    }

    &:active {
      transform: rotateZ(-10deg);
      transition: transform 0.25s;
    }
  }

  .theme_toggle_button {
    position: absolute;
    right: 0.5em;
    top: 0.5em;

    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-theme-toggle-button);
    font-size: $theme-icon-font-size;
    transition: 0.25s;

    @media (hover: hover) {
      &:hover {
        scale: 1.1;
        animation: rockBackAndForth 4s linear infinite;
        color: var(--color-theme-toggle-button-hover);
      }

      &:active {
        scale: 0.99;
      }
    }
  }
}

@keyframes rockBackAndForth {
  0% {
    transform: rotateZ(0deg);
  }
  24% {
    transform: rotateZ(-20deg);
  }
  49% {
    transform: rotateZ(0deg);
  }
  74% {
    transform: rotateZ(20deg);
  }
  99% {
    transform: rotateZ(1deg);
  }
}
