.theme_toggle {
  position: absolute;
  margin: 0 auto;
  right: 0.75em;
  top: 0.75em;

  &_button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-theme-toggle-button);
    font-size: $theme-icon-font-size;
    transition: 0.25s;
    margin: -0.75em;
    padding: 0.75em;

    &:hover {
      scale: 1.1;
      animation: rockBackAndForth 4s linear infinite;
      color: var(--color-theme-toggle-button-hover);
    }

    &:active {
      scale: 0.99;
    }
  }
}

@keyframes rockBackAndForth {
  0% {
    transform: rotateZ(0deg);
  }
  24% {
    transform: rotateZ(-20deg);
  }
  49% {
    transform: rotateZ(0deg);
  }
  74% {
    transform: rotateZ(20deg);
  }
  99% {
    transform: rotateZ(1deg);
  }
}
