/* 
==========================================================================
Base elements
========================================================================== */

// Apply a natural box layout model to all elements
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
==========================================================================
Selections
========================================================================== */

::-moz-selection {
    @include themed(background-color, highlight);
    @include themed(color, highlight-text);
    text-shadow: none;
}

::selection {
    @include themed(background-color, highlight);
    @include themed(color, highlight-text);
    text-shadow: none;
}

/*
==========================================================================
Body
========================================================================== */

body {
    font: {
        size: 1.5em;
        weight: 400;
    }
    line-height: 1.6;
    margin: 0;

    @include themed(background-color, background);

    transition: {
        property: background, color;
        duration: 250ms, 75ms;
        timing-function: ease-in-out, ease;
    }
}

p {
    margin: 0;
    padding: 0;
}

/* underlined text */
u,
ins {
    text-decoration: none;
    border-bottom: {
        width: 1px;
        style: solid;
    }
    @include themed(border-bottom-color, text);
}

/*
==========================================================================
Headings
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: {
        top: 0;
        right: 0;
        bottom: 0.67em;
        left: 0;
    }
}

/*
==========================================================================
Links
========================================================================== */

a {
    @include themed(color, link);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    @include themed(color, link-hover);
}

a:active {
    @include themed(color, link-active);
}

// Apply focus state
a:focus {
    /* Default */
    outline: thin dotted #333;
    /* Webkit */
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

// Remove outline
a:hover,
a:active {
    outline: 0;
}

/*
==========================================================================
Global Transition
========================================================================== */

figure,
img {
    transition: all 0.2s ease;
}
