/* 
================================================
TYPOGRAPHY 
================================================ */

body {
  font: -apple-system-body;
  font-family: $base-font;
  font-size: $body-font-size;
  @include themed(color, text);
}

p {
  font-size: $body-font-size;
}

li {
  font-size: $body-font-size;
}
