/* TYPOGRAPHY 
/* ================================================ */

$base-font: Tahoma, Arial, sans-serif;
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: "Courier New", Courier, monospace;
$alt-font: $base-font;
$doc-font-size: 16pt;
$doc-line-height: 24pt;
$border-radius: 3px;

/* set-up the body font-size / line-height */

body {
  font-family: $base-font;
  color: $text-color;
  font-size: $doc-font-size;
}

p {
  font-size: 18pt;
}

li {
  font-size: 16pt;
}
