/* 
================================================
TYPOGRAPHY 
================================================ */

$base-font: "Nimbus Sans", "Liberation Sans", "Helvetica Neue", Tahoma,
  Helvetica, Arial, sans-serif;
$heading-font: $base-font;
$body-font-size: 14pt;
$heading-font-size: 32pt;
$caption-font-size: 16pt;

/* set-up the body font-size / line-height */

body {
  font: -apple-system-body;
  font-family: $base-font;
  font-size: $body-font-size;
  @include themed(color, text);
}

p {
  font-size: $body-font-size;
}

li {
  font-size: $body-font-size;
}
