.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 100%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/* For devices larger than 400px */

@include media($mobile) {
  .container {
    width: 85%;
    padding: 0;
  }
}


/* For devices larger than 550px */

@include media($phablet) {
  .container {
    width: 80%;
  }
}
