<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {{ if .Title }}
                {{ .Title }}
                |
                {{ .Site.Params.Identity.Author }}
            {{ else }}
                {{ block "title" . }}
                    {{ .Site.Params.Identity.Author }}
                {{ end }}
                {{ block "subtitle" . }}
                    |
                    {{ .Site.Params.Identity.Caption }}
                {{ end }}
            {{ end }}
        </title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="cleartype" content="on" />
        {{ partial "head_social.html" . }}
        {{ partial "head_theme.html" . }}
        {{ block "head_style" . }}
            {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
            <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
        {{ end }}
        {{ block "head_scripts" . }}{{ end }}
    </head>

    <body>
        {{ block "main" . }}{{ end }}
    </body>
</html>
