// Breakpoints
$breakpoint-medium: 768px !default;

// Fonts
$base-font: 'DejaVu Sans', Tahoma, Helvetica, sans-serif;
$heading-font: $base-font;

$body-font-size: 14pt;
$heading-font-size: 32pt;
$caption-font-size: 16pt;
