// Breakpoints
$breakpoint-medium: 768px !default;

// Fonts
$base-font: 'DejaVu Sans', Tahoma, Helvetica, sans-serif;
$heading-font: $base-font;

$body-font-size: 14pt;
$heading-font-size: 36pt;
$caption-font-size: 18pt;
$icon-font-size: 26pt;
$theme-icon-font-size: 24pt;
$footer-font-size: 12pt;
