@import url("../css/colors.css");

/*
   About page
   ========================================================================== */

.about :global(h3) {
    font-size: 24pt;
    font-weight: 600;
    color: var(--darkest-blue);
}

.about :global(p) {
    font-size: 14pt;
    margin-bottom: 1.5em;
}

.about :global(li) {
    font-size: 14pt;
}

.about :global(a) {
    color: var(--link-color);
}