@import url("../css/colors.css");

/*
   About page
   ========================================================================== */

.about :global(h1), 
.about :global(h2), 
.about :global(h3), 
.about :global(h4), 
.about :global(h5), 
.about :global(h6) {
    font-size: 28pt;
    font-weight: 600;
    color: var(--darkest-blue);
}

.about :global(p) {
    font-size: 14pt;
    margin-bottom: 2rem;
}

.about :global(a) {
    color: var(--link-color);
}


/*
   Resume page
   ========================================================================== */

.resume {
    background-color: var(--white);
    line-height: 1.3;
}

.resumeHeaderHeading {
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 2pt;
}

.resumeHeaderSubheading {
    font-style: italic;
    font-size: 10pt;
    color: var(--pale-gray);
    margin-bottom: 4pt;
}

.resumeHeaderSubheading>a {
    color: var(--link-color);
    font-style: italic;
    font-size: 10pt;
}

.resumeHeaderLine {
    border: 0;
    width: 100%;
    height: 0.75pt;
    margin: auto;
    margin-top: 6pt;
    background-color: var(--fun-blue);
}

.resumeSectionHeading {
    font-weight: bold;
    font-size: 10pt;
    color: var(--darker-blue);
    clear: left;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.resumeProjectHeading {
    font-weight: bold;
    font-size: 8pt;
    color: var(--dark-blue);
    margin-top: 3pt;
    margin-bottom: 2pt;
}

.resumeProjectDescription {
    margin: 0;
    padding: 0;
    margin-bottom: 4pt;
    color: var(--black);
    font-size: 8pt;
    text-align: justify;
    text-justify: inter-word;
}

.resumeSkillItem>strong~em {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.resumeSkillItem~.resumeSkillItem {
    padding-left: 0.25rem;
    border-left: 1pt solid var(--fun-blue);
}

.resumeFooter {
    margin-top: 4rem;
}

.resumeFooterLine {
    position: fixed;
    width: 100%;
    height: 0.75pt;
    bottom: 0;
    left: 0;
    border: 0;
    background-color: var(--fun-blue);
}

.resumeFooterLogo {
    position: fixed;
    left: 45%;
    bottom: 1.5%;
    width: 10%;
    background-color: var(--white);
    padding: 0 1%;
}