@import url("../css/colors.css");

/*
   About page
   ========================================================================== */

.about :global(h1), 
.about :global(h2), 
.about :global(h3), 
.about :global(h4), 
.about :global(h5), 
.about :global(h6) {
    font-size: 28pt;
    font-weight: 600;
    color: var(--darkest-blue);
}

.about :global(p) {
    font-size: 14pt;
    margin-bottom: 2rem;
}

.about :global(a) {
    color: var(--link-color);
}
