.sectionLanding {
    padding: 7rem 0;
    background-color: #0a3059 /*var(--darkest-blue)*/;
    color: #ffffff /*var(--white)*/;
}

.sectionLandingHeading {
    font-weight: 700;
    font-size: 38;
    margin-bottom: 1.2rem;
    opacity: 0;
    composes: fadeInDownNoDelay from "../../../../css/animations.css";
}

.sectionLandingDescription {
    font-size: 18;
    font-style: italic;
    opacity: 0;
    animation: fadeInDown 0.3s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    composes: fadeInDownShortDelay from "../../../../css/animations.css";
}

.sectionLandingDescription>span {
    white-space: nowrap;
}

.sectionLandingProfile {
    float: right;
    width: 20%;
    margin-top: -1em;
}

.sectionLandingSocial {
    list-style: none;
}

.sectionLandingSocial li {
    display: inline-block;
    margin: 20px 2% 0 2%;
}

@media only screen and (min-width: 550px/*var(--phablet-size)*/) {
    .sectionLanding {
        padding: 10rem 0 8rem 0;
        text-align: left;
    }
    .sectionLandingHeading {
        font-size: 48;
        margin-bottom: 1.2rem;
    }
}

@media only screen and (min-width: 1000px/*var(--desktop-size)*/) {
    .sectionLanding {
        padding: 10rem 0 5rem;
    }
    .sectionLandingDescription {
        margin-bottom: 8rem;
    }
}