.content h3 {
  font-size: 24pt;
  font-weight: 600;
  color: $darkest-blue;
}

.content p {
  font-size: 14pt;
  margin-bottom: 1.5em;
}

.content li {
  font-size: 14pt;
}

.content a {
  color: $link-color;
}
