.main_container {
  margin: 0 auto;
  max-width: 80%;
  padding: 3rem 1.5rem;
}

.content {
  h3 {
    font-size: $caption-font-size;
    font-weight: 600;
    @include themed(color, subheading);
  }

  p {
    margin-bottom: 1.5em;
  }
}
