<header>
    <span>
        <h1 class="resume_header_heading">
            {{ .Site.Author.name }}
        </h1>
    </span>
    <span>
        <h2 class="resume_header_subheading">
            <a href="mailto:{{ .Site.Author.email }}">
                {{ .Site.Author.email }}
            </a>
            •
            <a href="{{ .Site.BaseURL }}">
                {{ $url := urls.Parse .Site.BaseURL }}
                {{ if eq $url.Path "/" }}
                    {{ $url.Host }}
                {{ else }}
                    {{ printf "%s%s" $url.Host $url.Path }}
                {{ end }}
            </a>
            •
            <a href="{{ .Site.Params.Identity.Links.Github }}">
                {{ $githubURL := urls.Parse .Site.Params.Identity.Links.Github }}
                {{ printf "%s%s" $githubURL.Host $githubURL.Path }}
            </a>
        </h2>
    </span>
</header>
