{{ partial "resume/experience.html" . }}

<section>
    <h2 class="resume_section_heading">Open Source Projects</h2>
    {{ range sort  (where $.Site.Data.resume.projects "resume" true) "name" "asc" }}
        <h2 class="resume_project_heading">
            <a href="{{ .link }}">{{ .name }}</a>
        </h2>
        <p class="resume_project_description">{{ .description }}</p>
    {{ end }}
</section>

<section>
    <h2 class="resume_section_heading">Skills</h2>
    <h3 class="resume_skill_heading">
        Selected by relevance and order of current confidence
    </h3>
    <div class="resume_project_description">
        <ul>
            {{ range $.Site.Data.resume.skills }}
                <li class="resume_skill_item">{{ . }}</li>
            {{ end }}
        </ul>
    </div>
</section>

<section>
    <h2 class="resume_section_heading">Education</h2>
    <p class="resume_project_description education">
        {{ .Site.Data.resume.education.school }} •
        {{ .Site.Data.resume.education.location }}
        <br />
        {{ .Site.Data.resume.education.degree }} •
        {{ .Site.Data.resume.education.date }}
    </p>
</section>
