// TYPOGRAPHY ================================================
$base-font: 'Roboto', sans-serif;
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: 'Roboto Mono', ;
$alt-font: 'Roboto', sans-serif;
$icons-font: 'FontAwesome', sans-serif;

$doc-font-size: 16;
$doc-line-height: 24;

$border-radius: 3px;

// set-up the body font-size / line-height
body {
  margin-top: 0px + $doc-line-height;
  font-size: 0px + $doc-font-size;  
}


// COLORS =====================================================
$white              : #fff;
$black              : #000;
$light-gray         : #ddd;
$dark-gray          : #222;
$darkest-blue       : #0a3059;
$darker-blue        : #0d3d70;
$dark-blue          : #3d638c;
$lightest-blue      : #e6ebf0;
$light-blue         : #b6c4d4;
$blue               : #2c3e50;
$body-color         : $lightest-blue;
$text-color         : $dark-gray;
$base-color         : #343434;    
$comp-color         : spin($base-color, 180); 
$border-color       : $dark-blue;
$accent-color       : $darker-blue;
$link-color         : $dark-gray;

$table-border-color           : $border-color;
$table-border                 : 1px solid $table-border-color;
$table-background             : $body-color;
$table-header-color           : lighten($table-background, 10);
$table-hover-color            : darken($table-background, 2);
$table-stripe-color           : darken($table-background, 4);
$table-stripe-color-hover     : darken($table-stripe-color, 5);