<header class="header">
    <div class="header_nav header_nav_item">
        <h1 class="header_author">{{ .Site.Params.Identity.Author }}</h1>
        <h2 class="header_caption">{{ .Site.Params.Identity.Caption }}</h2>
    </div>
    <div class="header_nav icons">
        <a
            href="/resume/"
            class="header_nav_item"
            title="Resume"
            alt="Check out my resume"
        >
            <i class="far fa-file-alt" aria-hidden="true"></i>
            <span class="visually_hidden">Resume</span>
        </a>
        <a
            href="mailto:{{ .Site.Params.Identity.Email }}"
            class="header_nav_item"
            title="Email me"
            alt="Send an email to {{ .Site.Params.Identity.Email }}"
        >
            <i class="far fa-envelope" aria-hidden="true"></i>
            <span class="visually_hidden">Email</span>
        </a>
        <a
            href="{{ .Site.Params.Identity.Links.Github }}"
            class="header_nav_item"
            title="GitHub"
            alt="View my GitHub profile"
        >
            <i class="fab fa-github" aria-hidden="true"></i>
            <span class="visually_hidden">GitHub</span>
        </a>
        <a
            href="{{ .Site.Params.Identity.Links.Twitter }}"
            class="header_nav_item"
            title="Twitter"
            alt="View my Twitter profile"
        >
            <i class="fab fa-twitter" aria-hidden="true"></i>
            <span class="visually_hidden">Twitter</span>
        </a>
        <a
            href="{{ .Site.Params.Identity.Links.Linkedin }}"
            class="header_nav_item"
            title="LinkedIn"
            alt="View my LinkedIn profile"
        >
            <i class="fab fa-linkedin" aria-hidden="true"></i>
            <span class="visually_hidden">Linkedin</span>
        </a>
        <!-- <a
            href="/posts/"
            class="header_nav_item"
            title="Posts"
            alt="View a list of my posts"
        >
            <i class="fas fa-pen" aria-hidden="true"></i>
            <span class="visually_hidden">Posts</span>
        </a> -->
    </div>
</header>
