<header class="header">
    <div class="header_nav header_nav_item">
        <h1 class="header_author">{{ .Site.Author.name }}</h1>
        <h2 class="header_caption">{{ .Site.Author.caption }}</h2>
    </div>
    <div class="header_nav icons">
        <a
            href="/resume/"
            class="header_nav_item"
            rel="me"
            title="Resume"
            alt="Check out my resume"
        >
            <i class="far fa-file-alt" aria-hidden="true"></i>
            <span class="visually_hidden">Resume</span>
        </a>
        <a
            href="mailto:{{ .Site.Author.email }}"
            class="header_nav_item"
            rel="external"
            title="Email me"
            alt="Send an email to {{ .Site.Author.email }}"
        >
            <i class="far fa-envelope" aria-hidden="true"></i>
            <span class="visually_hidden">Email</span>
        </a>
        <a
            href="{{ .Site.Params.Identity.Links.Github }}"
            class="header_nav_item"
            rel="me"
            title="GitHub"
            alt="View my GitHub profile"
        >
            <i class="fab fa-github" aria-hidden="true"></i>
            <span class="visually_hidden">GitHub</span>
        </a>
    </div>
</header>
