<!--Open Graph-->
<meta property="fb:app_id" content="" />
<meta property="og:url" content="{{ .Site.BaseURL }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Site.Params.Author }}" />
<meta property="og:image" content="/images/site/favicon.png" />
<meta property="og:description" content="{{ .Site.Params.Caption }}" />
<meta property="og:site_name" content="{{ .Site.Params.Author }}" />
<meta property="og:locale" content="en_US" />
<meta property="article:author" content="{{ .Site.Params.Author }}" />
<!-- disallow Twitter from using your site's info for personalization purposes -->
<meta name="twitter:dnt" content="on" />
