<noscript>
  <style>
    .user_toggle {
      display: none;
    }
  </style>
</noscript>

<div class="user_toggle">
  <div role="status" class="visually_hidden js_mode_status"></div>
  <button class="toggle_button js_mode_toggle ]">
    <span class="toggle_button_text js_mode_toggle_text">Enable dark mode</span>
    <span class="toggle_button_icon" aria_hidden="true"></span>
  </button>
</div>

{{ $js := resources.Get "js/theme_toggle.js" | js.Build "theme_toggle.js" }}
<script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
