.section_legal {
  position: static;
  background-color: $darkest-blue;
  color: $white;
  padding: 1rem 0;
  &_brand {
    width: 25%;
    margin-top: 2rem;
    @include media($phablet) {
      width: 15%;
    }
    @include media($tablet) {
      width: 10%;
    }
  }
  > .social {
    max-width: 90%;
    margin-top: 2rem;
    @include media($phablet) {
      max-width: 75%
    }
    @include media($desktop) {
      margin-top: 5rem;
    }
  }
}
