.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 2px 0px $dark-gray;
  background-color: $darker-blue;
  &_logo {
    padding: 30px;
    display: inline-block;
    &_img {
      height: 40px;
    }
  }
  &_links {
    float: right;
    padding: 16px 30px;
    &_list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    &_item {
      float: left;
      a {
        display: block;
        color: $white;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;
        &:hover {
          border-bottom: $white 4px solid;
        }
      }
      &-divider {
        float: left;
        border-right: $light-gray 1px solid;
        height: 60px;
        margin: 0 1rem
      }
    }
  }
}
