.social {
  @include outer-container;
  max-width: inherit;
  
  &_container {
    width: 90%;
    margin: 1rem auto;
    @include media($phablet) {
      width: 75%;
    }
  }

  &_item {
    @include span-columns(2 of 12);
    opacity: 0;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        @include animation--fadeInDown(0.8 + $i/12);
      }
    }
  }
}
