:root {
    --white: #fff;
    --black: #000;
    --light-gray: #ddd;
    --pale-gray: #5a5a5a;
    --dark-gray: #222;
    --darkest-blue: #0a3059;
    --darker-blue: #0d3d70;
    --dark-blue: #3d638c;
    --lightest-blue: #e6ebf0;
    --light-blue: #b6c4d4;
    --blue: #2c3e50;
    --body-color: --lightest-blue;
    --text-color: var(--dark-gray);
    --base-color: #343434;
    --comp-color: spin(--base-color, 180);
    --border-color: --dark-blue;
    --accent-color: --darker-blue;
    --link-color: var(--dark-gray);
    --alt-link-color: #0462c1;
    --table-border-color: var(--border-color);
    --table-border: 1px solid var(--table-border-color);
    --table-background: var(--body-color);
    --table-header-color: lighten(var(--table-background), 10);
    --table-hover-color: darken(var(--table-background), 2);
    --table-stripe-color: darken(var(--table-background), 4);
    --table-stripe-color-hover: darken(var(--table-stripe-color), 5);
}