/* ==========================================================================
   Syntax highlighting and formatting
   ========================================================================== */


/* 
   Pygments.rb and Rouge
   ========================================================================== */

.highlight {
    background-color: #efefef;
    font-family: Roboto Mono, monospace;
    color: #333332;
    margin-bottom: 1.5em;
    border-radius: 0px;
}

.highlight pre {
    position: relative;
    margin: 0;
    padding: 1em;
}

.highlight .lineno {
    padding-right: 24px;
    color: lighten(#333332, 50);
}

.highlight .hll {
    background-color: #ffffcc
}

.highlight .c {
    color: #999988;
    font-style: italic
}


/* Comment */

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}


/* Error */

.highlight .k {
    color: #000000;
    font-weight: bold
}


/* Keyword */

.highlight .o {
    color: #000000;
    font-weight: bold
}


/* Operator */

.highlight .cm {
    color: #999988;
    font-style: italic
}


/* Comment.Multiline */

.highlight .cp {
    color: #999999;
    font-weight: bold;
    font-style: italic
}


/* Comment.Preproc */

.highlight .c1 {
    color: #999988;
    font-style: italic
}


/* Comment.Single */

.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic
}


/* Comment.Special */

.highlight .gd {
    color: #000000;
    background-color: #ffdddd
}


/* Generic.Deleted */

.highlight .ge {
    color: #000000;
    font-style: italic
}


/* Generic.Emph */

.highlight .gr {
    color: #aa0000
}


/* Generic.Error */

.highlight .gh {
    color: #999999
}


/* Generic.Heading */

.highlight .gi {
    color: #000000;
    background-color: #ddffdd
}


/* Generic.Inserted */

.highlight .go {
    color: #888888
}


/* Generic.Output */

.highlight .gp {
    color: #555555
}


/* Generic.Prompt */

.highlight .gs {
    font-weight: bold
}


/* Generic.Strong */

.highlight .gu {
    color: #aaaaaa
}


/* Generic.Subheading */

.highlight .gt {
    color: #aa0000
}


/* Generic.Traceback */

.highlight .kc {
    color: #000000;
    font-weight: bold
}


/* Keyword.Constant */

.highlight .kd {
    color: #000000;
    font-weight: bold
}


/* Keyword.Declaration */

.highlight .kn {
    color: #000000;
    font-weight: bold
}


/* Keyword.Namespace */

.highlight .kp {
    color: #000000;
    font-weight: bold
}


/* Keyword.Pseudo */

.highlight .kr {
    color: #000000;
    font-weight: bold
}


/* Keyword.Reserved */

.highlight .kt {
    color: #445588;
    font-weight: bold
}


/* Keyword.Type */

.highlight .m {
    color: #009999
}


/* Literal.Number */

.highlight .s {
    color: #d01040
}


/* Literal.String */

.highlight .na {
    color: #008080
}


/* Name.Attribute */

.highlight .nb {
    color: #0086B3
}


/* Name.Builtin */

.highlight .nc {
    color: #445588;
    font-weight: bold
}


/* Name.Class */

.highlight .no {
    color: #008080
}


/* Name.Constant */

.highlight .nd {
    color: #3c5d5d;
    font-weight: bold
}


/* Name.Decorator */

.highlight .ni {
    color: #800080
}


/* Name.Entity */

.highlight .ne {
    color: #990000;
    font-weight: bold
}


/* Name.Exception */

.highlight .nf {
    color: #990000;
    font-weight: bold
}


/* Name.Function */

.highlight .nl {
    color: #990000;
    font-weight: bold
}


/* Name.Label */

.highlight .nn {
    color: #555555
}


/* Name.Namespace */

.highlight .nt {
    color: #000080
}


/* Name.Tag */

.highlight .nv {
    color: #008080
}


/* Name.Variable */

.highlight .ow {
    color: #000000;
    font-weight: bold
}


/* Operator.Word */

.highlight .w {
    color: #bbbbbb
}


/* Text.Whitespace */

.highlight .mf {
    color: #009999
}


/* Literal.Number.Float */

.highlight .mh {
    color: #009999
}


/* Literal.Number.Hex */

.highlight .mi {
    color: #009999
}


/* Literal.Number.Integer */

.highlight .mo {
    color: #009999
}


/* Literal.Number.Oct */

.highlight .sb {
    color: #d01040
}


/* Literal.String.Backtick */

.highlight .sc {
    color: #d01040
}


/* Literal.String.Char */

.highlight .sd {
    color: #d01040
}


/* Literal.String.Doc */

.highlight .s2 {
    color: #d01040
}


/* Literal.String.Double */

.highlight .se {
    color: #d01040
}


/* Literal.String.Escape */

.highlight .sh {
    color: #d01040
}


/* Literal.String.Heredoc */

.highlight .si {
    color: #d01040
}


/* Literal.String.Interpol */

.highlight .sx {
    color: #d01040
}


/* Literal.String.Other */

.highlight .sr {
    color: #009926
}


/* Literal.String.Regex */

.highlight .s1 {
    color: #d01040
}


/* Literal.String.Single */

.highlight .ss {
    color: #990073
}


/* Literal.String.Symbol */

.highlight .bp {
    color: #999999
}


/* Name.Builtin.Pseudo */

.highlight .vc {
    color: #008080
}


/* Name.Variable.Class */

.highlight .vg {
    color: #008080
}


/* Name.Variable.Global */

.highlight .vi {
    color: #008080
}


/* Name.Variable.Instance */

.highlight .il {
    color: #009999
}


/* Literal.Number.Integer.Long */


/* 
   Coderay
   ========================================================================== */

.CodeRay {
    background-color: #efefef;
    font-family: Roboto Mono, monospace;
    font-size: 12pt;
    color: #333332;
    margin-bottom: 1.5em;
    border-radius: 4px;
}

.CodeRay pre {
    margin: 0px;
    padding: 1em;
}

div.CodeRay {}

span.CodeRay {
    white-space: pre;
    border: 0px;
    padding: 2px
}

table.CodeRay {
    border-collapse: collapse;
    width: 100%;
    padding: 2px
}

table.CodeRay td {
    padding: 1em 0.5em;
    vertical-align: top;
}

ol.CodeRay {
    font-size: 10pt
}

ol.CodeRay li {
    white-space: pre
}

.CodeRay .line-numbers,
.CodeRay .no {
    background-color: #ececec;
    color: #aaa;
    text-align: right;
}

.CodeRay .line-numbers a {
    color: #aaa;
}

.CodeRay .line-numbers tt {
    font-weight: bold
}

.CodeRay .line-numbers .highlighted {
    color: red
}

.CodeRay .line {
    display: block;
    float: left;
    width: 100%;
}

.CodeRay span.line-numbers {
    padding: 0 24px 0 4px
}

.CodeRay .code {
    width: 100%
}

.CodeRay .code pre {
    overflow: auto
}

.CodeRay .debug {
    color: white !important;
    background: blue !important;
}

.CodeRay .annotation {
    color: #007
}

.CodeRay .attribute-name {
    color: #f08
}

.CodeRay .attribute-value {
    color: #700
}

.CodeRay .binary {
    color: #509;
    font-weight: bold
}

.CodeRay .comment {
    color: #998;
    font-style: italic;
}

.CodeRay .char {
    color: #04d
}

.CodeRay .char .content {
    color: #04d
}

.CodeRay .char .delimiter {
    color: #039
}

.CodeRay .class {
    color: #458;
    font-weight: bold
}

.CodeRay .complex {
    color: #a08;
    font-weight: bold
}

.CodeRay .constant {
    color: teal;
}

.CodeRay .color {
    color: #0a0
}

.CodeRay .class-variable {
    color: #369
}

.CodeRay .decorator {
    color: #b0b;
}

.CodeRay .definition {
    color: #099;
    font-weight: bold
}

.CodeRay .directive {
    color: #088;
    font-weight: bold
}

.CodeRay .delimiter {
    color: black
}

.CodeRay .doc {
    color: #970
}

.CodeRay .doctype {
    color: #34b
}

.CodeRay .doc-string {
    color: #d42;
    font-weight: bold
}

.CodeRay .escape {
    color: #666;
    font-weight: bold
}

.CodeRay .entity {
    color: #800;
    font-weight: bold
}

.CodeRay .error {
    color: #f00;
    background-color: #faa
}

.CodeRay .exception {
    color: #c00;
    font-weight: bold
}

.CodeRay .filename {
    color: #099;
}

.CodeRay .function {
    color: #900;
    font-weight: bold
}

.CodeRay .global-variable {
    color: teal;
    font-weight: bold
}

.CodeRay .hex {
    color: #058;
    font-weight: bold
}

.CodeRay .integer {
    color: #099;
}

.CodeRay .include {
    color: #b44;
    font-weight: bold
}

.CodeRay .inline {
    color: black
}

.CodeRay .inline .inline {
    background: #ccc
}

.CodeRay .inline .inline .inline {
    background: #bbb
}

.CodeRay .inline .inline-delimiter {
    color: #d14;
}

.CodeRay .inline-delimiter {
    color: #d14;
}

.CodeRay .important {
    color: #f00;
}

.CodeRay .interpreted {
    color: #b2b;
    font-weight: bold
}

.CodeRay .instance-variable {
    color: teal
}

.CodeRay .label {
    color: #970;
    font-weight: bold
}

.CodeRay .local-variable {
    color: #963
}

.CodeRay .octal {
    color: #40e;
    font-weight: bold
}

.CodeRay .operator {}

.CodeRay .predefined-constant {
    font-weight: bold
}

.CodeRay .predefined {
    color: #369;
    font-weight: bold
}

.CodeRay .preprocessor {
    color: #579;
}

.CodeRay .pseudo-class {
    color: #00c;
    font-weight: bold
}

.CodeRay .predefined-type {
    color: #074;
    font-weight: bold
}

.CodeRay .reserved,
.CodeRay .keyword {
    color: #000;
    font-weight: bold
}

.CodeRay .key {
    color: #808;
}

.CodeRay .key .delimiter {
    color: #606;
}

.CodeRay .key .char {
    color: #80f;
}

.CodeRay .value {
    color: #088;
}

.CodeRay .regexp {
    background-color: #fff0ff
}

.CodeRay .regexp .content {
    color: #808
}

.CodeRay .regexp .delimiter {
    color: #404
}

.CodeRay .regexp .modifier {
    color: #c2c
}

.CodeRay .regexp .function {
    color: #404;
    font-weight: bold
}

.CodeRay .string {
    color: #d20;
}

.CodeRay .string .string {}

.CodeRay .string .string .string {
    background-color: #ffd0d0
}

.CodeRay .string .content {
    color: #d14;
}

.CodeRay .string .char {
    color: #d14;
}

.CodeRay .string .delimiter {
    color: #d14;
}

.CodeRay .shell {
    color: #d14
}

.CodeRay .shell .content {}

.CodeRay .shell .delimiter {
    color: #d14
}

.CodeRay .symbol {
    color: #990073
}

.CodeRay .symbol .content {
    color: #a60
}

.CodeRay .symbol .delimiter {
    color: #630
}

.CodeRay .tag {
    color: #070
}

.CodeRay .tag-special {
    color: #d70;
    font-weight: bold
}

.CodeRay .type {
    color: #339;
    font-weight: bold
}

.CodeRay .variable {
    color: #036
}

.CodeRay .insert {
    background: #afa;
}

.CodeRay .delete {
    background: #faa;
}

.CodeRay .change {
    color: #aaf;
    background: #007;
}

.CodeRay .head {
    color: #f8f;
    background: #505
}

.CodeRay .insert .insert {
    color: #080;
    font-weight: bold
}

.CodeRay .delete .delete {
    color: #800;
    font-weight: bold
}

.CodeRay .change .change {
    color: #66f;
}

.CodeRay .head .head {
    color: #f4f;
}