/* TYPOGRAPHY 
/* ================================================ */

:root {
    --base-font: Tahoma, Arial, sans-serif;
    --heading-font: var(--base-font);
    --caption-font: var(--base-font);
    --code-font: 'Courier New', Courier, monospace;
    --alt-font: var(--base-font);
    --doc-font-size: 16pt;
    --doc-line-height: 24pt;
    --border-radius: 3px;
}

/* set-up the body font-size / line-height */

body {
    font-family: var(--base-font);
    color: var(--text-color);
    font-size: var(--doc-font-size);
}

p {
    font-size: 18pt;
}

li {
    font-size: 16pt;
}
