/*
   Bounce-in animation .bounceIn
   ========================================================================== */

@include keyframes(bounceIn) {
  0% {
    @include transform(scale(0.3));
    opacity: 0;
  }
  50% {
    @include transform(scale(1.05));
    opacity: 1;
  }
  70% {
    @include transform(scale(0.9));
  }
  100% {
    @include transform(scale(1));
    opacity: 1;
  }
}