.nav {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 2px 0px #222222 /*var(--dark-gray)*/;
    background-color: #0d3d70 /*var(--darker-blue)*/;
    box-sizing: border-box;
}

.nav * {
    box-sizing: border-box;
}

.navSticky {
    position: fixed;
    opacity: 0;
    composes: fadeInDownNoDelay from "../../../css/animations.css";
}

.navLogo {
    margin: 1rem;
    display: inline-block;
    height: 40px;
}

.navCollapse {
    float: right;
    list-style: none;
}

.navCollapseList {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    float: right;
    list-style: none;
}

.navCollapseItem {
    width: 100%;
    display: block;
    float: left;
    margin: 0.5rem 0;
}

.navCollapseItem.opened {
    max-height: 9999px;
}

.navCollapseItem a {
    display: block;
    color: #ffffff /*var(--white)*/;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    border-bottom: transparent 4px solid;
}

.navCollapseItem a:hover {
    border-bottom: #ffffff /*var(--white)*/ 4px solid;
}

.navCollapseItem i {
    font-size: 24px;
}

.navCollapseItemDivider {
    display: none;
    float: left;
    margin: 0;
    padding: 0;
    border-right: #dddddd /*var(--light-gray)*/ 1px solid;
}

.navToggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    user-select: none;
}

.js .navCollapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

.disablePointerEvents {
    pointer-events: none !important;
}

.navCollapse .navCollapseItem {
    float: left;
    width: 50%;
}

#navToggle {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    position: relative;
    background: transparent;
    margin: 1rem;
    width: 70px;
    padding: 0.5rem;
    z-index: 300;
    float: right;
}

#navToggle.active div:nth-child(1) {
    transform: rotate(45deg) translate3d(3px, 8px, 0);
}

#navToggle.active div:nth-child(2) {
    opacity: 0;
}

#navToggle.active div:nth-child(3) {
    transform: rotate(-45deg) translate3d(3px, -8px, 0);
}

#navToggle div {
    transform: translate3d(0, 0, 0);
    transition: all .4s ease;
    border-radius: 1px;
    margin-left: 20px;
    margin-bottom: 6px;
    background: #ffffff /*var(--white)*/;
    height: 2px;
    width: 28px;
}

@media only screen and (min-width: 640px) {
    .navCollapse {
        float: right;
        width: auto;
    }
    .navCollapseItem {
        width: auto;
    }
    .navCollapseItem a {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .navCollapseItemDivider {
        display: block;
        height: 50px;
        margin: 0.5rem 1rem;
    }
    .navToggle {
        display: none;
    }
    .js .navCollapse {
        position: relative;
    }
    .js .navCollapse.closed {
        max-height: none;
    }
    .navCollapse .navCollapseItem {
        width: auto;
    }
}