.sectionLegal {
    position: static;
    background-color: #0a3059 /*var(--darkest-blue)*/;
    color: #ffffff/*var(--white)*/;
    padding: 1rem 0;
}
.sectionLegalBrand {
    width: 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.sectionLegal > .social {
    max-width: 90%;
    margin-top: 2rem;
}
@media only screen and (min-width: 550px/*var(--phablet-size)*/) {
    .sectionLegalBrand {
        width: 15%;
    }
    .sectionLegal > .social {
        max-width: 75%
    }
}
@media only screen and (min-width: 750px/*var(--tablet-size)*/) {
    .sectionLegalBrand {
        width: 10%;
    }
}
@media only screen and (min-width: 1000px/*var(--desktop-size)*/) {
    .sectionLegal > .social {
        margin-top: 5rem;
    }
}
