.section {
    padding: 3rem 0 5rem;
    text-align: center;
    position: relative;
}

.sectionHeading {
    font-size: 42;
    margin-bottom: 1.2rem;
}

.sectionDescription {
    font-size: 16;
    margin-bottom: 1.2rem;
}

.sectionLink {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    margin: 10px;
}

.sectionLink a {
    color: #2c3e50/*var(--blue)*/;
    transition: all .2s ease-in-out;
}

.sectionLink a:hover,
.sectionLink a:focus,
.sectionLink a:active,
.sectionLink a.active {
    color: #dddddd/*var(--light-gray)*/;
}

.sectionWork {
    background-color: #3d638c /*var(--dark-blue)*/;
    color: #ffffff/*var(--white)*/;
}

.sectionProjects {
    background-color: #e6ebf0 /*var(--lightest-blue)*/;
}

.sectionCert {
    background-color: #b6c4d4 /*var(--light-blue)*/;
}

.sectionEducation {
    background-color: #3d638c /*var(--dark-blue)*/;
    color: #ffffff/*var(--white)*/;
}

@media only screen and (min-width: 550px) {
    .section {
        padding: 5rem 0;
    }
}

@media only screen and (min-width: 750px) {
    .section {
        padding: 5rem 0 5rem;
    }
}