.button {
  &:focus,
  &:active,
  &.active {
    outline: 0;
  }
  &_social {
    display: inline-block;
    @include rounded(100%);
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 32px;
    line-height: 48px;
    @include media ($desktop) {
      font-size: 28px;
    }
  }
  &-outline {
    margin: 0 auto;
    font-size: 32px;
    color: $white;
    background: 0 0;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $blue;
      background: $white;
    }
  }
}

.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  @include font-size(20);
  background-color: $black;
  color: $white;
  border: 2px solid $black !important;
  @include rounded($border-radius);
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $lightest-blue;;
    color: $black;
  }
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
  border: 0 solid transparent;
  color: $white;
}