.container {
  @include outer-container;
  .project_cell {
    @include span-columns(12 of 12);
    @include media($phablet) {
      @include span-columns(6 of 12);
      @include omega(2n);
    }
    @include media($desktop) {
      @include omega-reset(2n);
      @include span-columns(4 of 12);
      @include omega(3n);
    }
    &-cert {
      @include media($phablet) {
        @include span-columns(8 of 12);
        @include shift(2);
      }
      @include media($desktop) {
        @include span-columns(6 of 12);
        @include shift(3);
      }
    }
  }
}

.project {
  padding: 1rem;
  min-height: 7rem;
  @include rounded(6px);
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease-in-out;
  @include animation--fadeInDown(0.8);
  @include media($phablet) {
    min-height: 0;
  }
  &_content {
    width: 70%;
    float: right;
    @include media($phablet) {
      width: auto;
      float: none;
    }
  }
  &_cert {
    @include media($phablet) {
      img {
        width: 50%;
      }
    }
  }
  //work
  &-lighten {
    &:hover {
      color: $light-gray;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  //projects, cert
  &-darken {
    &:hover {
      color: $dark-gray;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  &_img {
    margin: 0;
    width: 80px;
    @include media($phablet) {
      width: 100px;
      margin: 10px auto;
    }
    @include media($tablet) {
      width: 130px;
    }
    &_container {
      width: 30%;
      float: left;
      @include media($phablet) {
        float: none;
        width: auto;
      }
    }
  }
  &_heading {
    @include font-size(18, no, 18);
    margin-bottom: 0.5rem;
    font-weight: 400;
    @include media($desktop) {
      @include font-size(20, no, 20);
      margin-bottom: 0.5rem;
    }
  }
  &_info {
    opacity: 0.8;
    font-weight: 300;
    &_title {
      @include font-size(16, no, 16);
      margin-bottom: 0.5rem;
    }
    &_dates {
      @include font-size(14, no, 14);
      margin-bottom: 5px;
    }
    &_description {
      visibility: hidden;
      clear: both;
      display: none;
      @include font-size(13, no, 13);
      margin: 0 10px 5px;
      margin-bottom: 5px;
      margin-right: 10px;
      font-style: italic;
      @include media($phablet) {
        width: auto;
        visibility: visible;
        clear: none;
        display: inherit;
      }
      @include media($desktop) {
        @include font-size(13.8, no, 13.8);
        margin-bottom: 5px;
      }
    }
    &_languages {
      @include font-size(14, no, 14);
      margin-bottom: 5px;
    }
  }
}
