<!doctype html>
<html lang="en">

<head>
    {% include head/head.html %}
</head>

<body class="resume">
    <header>
        <span>
            <h1 class="resume_header_title">Aaron Sky</h1>
        </span>
            <span>
            <h2 class="resume_header_subtitle">
                <a href="tel:{{ site.owner.phone }}">{{ site.owner.phone }}</a> •
                <a href="mailto:{{ site.owner.email }}">{{ site.owner.email }}</a> •
                <a href="{{ site.owner.web }}">{{ site.owner.web }}</a> •
                <a href="https://github.com/{{ site.owner.github }}">github.com/{{ site.owner.github }}</a>
            </h2>
        </span>
        <hr class="resume_header_line">
    </header>
    <section class="resume_section">
        <h2 class="resume_section_header">Experience</h2>
        {% assign work_buffer = "" | split: "" %}
        {% for work_kvp in site.data.portfolio.work %}
            {% assign work_buffer = work_buffer | push: work_kvp[1] %}
        {% endfor %}
        {% assign works = (work_buffer | sort: 'start') | reverse %}
        {% for work in works %}
            {% if work and work.resume %}
            <div>
                <h3 class="resume_project_header">
                    <a href="{{ work.link }}">
                        {{ work.title }}, {{ work.employer }}
                        &ndash;
                        {{ work.start | date: "%B %Y" }} to
                        {% if work.end %}
                            {{ work.end | date: "%B %Y" }}
                        {% else %}
                            Present
                        {% endif %}
                    </a>
                </h3>
                <p class="resume_project_description">
                  {% if work.long_description %}
                    {{ work.long_description }}
                  {% else %}
                    {{ work.description }}
                  {% endif %}
                </p>
            </div>
            {% endif %}
        {% endfor %}
    </section>
    <section class="resume_section">
        <h2 class="resume_section_header">Projects</h2>
        {% assign project_buffer = "" | split: "" %}
        {% for project_kvp in site.data.portfolio.projects %}
            {% assign project_buffer = project_buffer | push: project_kvp[1] %}
        {% endfor %}
        {% assign projects = (project_buffer | sort: 'start') | reverse %}
        {% for project in projects %}
            {% if project and project.resume %}
            <div>
                <h3 class="resume_project_header">
                    <a href="{{ project.link }}">
                        {{ project.title }}
                        ({{ project.start | date: "%B %Y" }}{% if project.end %} - {{ project.end | date: "%B %Y" }}{% endif %})
                    </a>
                </h3>
                <p class="resume_project_description">
                  {% if project.long_description %}
                    {{ project.long_description }}
                  {% else %}
                    {{ project.description }}
                  {% endif %} ({{ project.type }})
                </p>
            </div>
            {% endif %}
        {% endfor %}
    </section>
    <section class="resume_section">
        <h2 class="resume_section_header">Skills</h2>
        <h3 class="resume_project_header">
            Programming Languages (selected by relevance and order of current confidence)
        </h3>
        <span class="resume_project_description">
        {% for skill in site.data.portfolio.skills %}
            <strong>{{skill.tool}}</strong>
            <em>{{skill.time}}</em>
            {% if forloop.last == false %}
            <span class="resume_skill_divider"> — </span>
            {% endif %}
        {% endfor %}
        </span>
    </section>
    <section class="resume_section">
        <h2 class="resume_section_header">Education</h2>
        <p class="resume_project_description">
            {{ site.data.portfolio.education.school }}, {{ site.data.portfolio.education.location }}<br>
            {{ site.data.portfolio.education.degree }}, {{ site.data.portfolio.education.date }}
        </p>
        <span>
    </section>
    <footer class="resume_footer">
        <hr class="resume_footer_line">
        <img class="resume_footer_logo" src="{{site.assets.brand}}outline.svg" alt="{{ site.author.name}} brand logo">
    </footer>
</body>

</html>
